<ion-view view-title='Ingredients'>
  <ion-nav-buttons side="primary">
    <button class="button back-button hide buttons  button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="display: inline-block;">
        <span class="default-title">Back</span>
      </span>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <div class="row">
        <div class="col col-50">
          <div class="row">
            <div class="col">
              <span>Serving Size</span>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="row">
            <div class="col">
              <span>{{recipe.serving_size * recipe.serving_ratio}}</span>
            </div>
            <div class="col col-30">
              <button
                ng-click="askHowMuch()"
                class="button button-positive button-small">Change</button>
            </div>
          </div>
        </div>
      </div>

      <a
        style="text-decoration: none;"
        ng-repeat='ingredient in ingredients track by $index'
        href="#/recipe/{{id}}/ingredients/{{stepIndexOf(ingredient.text)}}/some-ingredient">
        <div class='small'>
          <ion-item>
            <div class="row">
              <div class="col col-50">{{ingredient.text}}</div>
              <div class="col">
                <div class="row">
                  <div class="col">{{ingredient.amount * recipe.serving_ratio}}</div>
                  <div class="col col-70">{{ingredient.measurement }}</div>
                </div>
              </div>
            </div>
          </ion-item>
        </div>
      </a>
    </ion-list>
  </ion-content>
</ion-view>