<ion-view view-title='{{recipe.name}}'>
  <ion-nav-buttons side="primary">
    <button class="button back-button hide buttons  button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="display: inline-block;">
        <span class="default-title">Back</span>
      </span>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button
      ng-click="viewIngredients()"
      class="button back-button hide buttons button-clear header-item">
      <i class="icon ion-gear-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list class="steps">
      <div
        class='small'
        ng-repeat-start='step in recipe.steps track by $index'>
          <ion-item ng-if='step.text.length == 0'></ion-item>
          <ion-checkbox
            ng-if='step.text.length'
            ng-model="filter.blue">
              <strong>{{step.verb}}</strong> {{interpolatedStep(step)}}
          </ion-checkbox>
        </div>
      <div ng-repeat-end></div>
    </ion-list>
  </ion-content>
</ion-view>
