<ion-view view-title='{{ingredient}} details'>
  <ion-nav-buttons side="primary">
    <button class="button back-button hide buttons  button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="display: inline-block;">
        <span class="default-title">Ingredients</span>
      </span>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-item>
      <div class="row">
        <div class="col">
          <span ng-show="!editing">{{ingredient}}</span>
          <span ng-hide="!editing">
            <input type="text" ng-model="new_ingredient" placeholder="What ingredient?" />
          </span>
        </div>
        <div class="col col-25">
          <button
            ng-click="editing=true"
            ng-show="!editing"
            class="button-right button">Change</button>
          <button
            ng-click="editing=false; updateIngredient(new_ingredient)"
            ng-hide="!editing"
            class="button-right button">Ok</button>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="row">
        <div class="col">
          <span ng-hide="editing_amount">
            adding {{amount}} {{measurement}} makes {{serving_size}} servings
          </span>

          <div
            ng-show="editing_amount"
            class="row">
            <div class="col">
              <ion-icon
                ng-click="new_amount = new_amount == 1 ? 1 : new_amount - 1"
                class="ion-minus-round"></ion-icon>
              <span>{{new_amount}}</span>
              <ion-icon
                ng-click="new_amount = new_amount + 1"
                class="ion-plus-round"></ion-icon>
            </div>
            <div class="col">
              <select ng-options="item as item for item in ['cup', 'tsp', 'tbsp']" ng-model="measurement">
              </select>
            </div>
          </div>

        </div>
        <div class="col col-25">
          <button
            ng-click="editing_amount=true"
            ng-show="!editing_amount"
            class="button-right button">Change</button>
          <button
            ng-click="editing_amount=false; updateIngredientAmount(new_amount, measurement)"
            ng-hide="!editing_amount"
            class="button-right button">Ok</button>
        </div>
      </div>
    </ion-item>
  </ion-content>
</ion-view>