<ion-view view-title='Ingredients'>
  <ion-content>
    <ion-list>
      <div class="row">
        <div class="col col-50">
          <div class="row">
            <div class="col">
              <span>Serving Size</span>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="row">
            <div class="col">
              <ion-icon
                ng-click="setServingSize(serving_size == 1 ? 1 : serving_size - 1)"
                class="ion-minus-round"></ion-icon>
              <span>{{serving_size}}</span>
              <ion-icon
                ng-click="setServingSize(serving_size + 1)"
                class="ion-plus-round"></ion-icon>
            </div>
            <div class="col col-30">
              <button
                ng-click="setServingSize(recipe.serving_size)"
                class="button button-small">Reset</button>
            </div>
          </div>
        </div>
      </div>

      <div
        class='small'
        ng-repeat-start='ingredient in ingredients track by $index'>
          <ion-item>
            <div class="row">
              <div class="col col-50">{{ingredient.text}}</div>
              <div class="col">
                <div class="row">
                  <div class="col">{{ingredient.amount * recipe.serving_ratio}}</div>
                  <div class="col col-70">{{ingredient.measurement }}</div>
                </div>
              </div>
            </div>
          </ion-item>
        </div>
      <div ng-repeat-end></div>
    </ion-list>
  </ion-content>
</ion-view>