<ion-view view-title='Grocery'>
  <ion-nav-buttons side="left">
    <a
      ng-show="id"
      href="#/recipe/{{id}}/grocery">
      <button class="button back-button hide buttons  button-clear header-item">
        <i class="icon ion-ios-arrow-back"></i>
        <span class="back-text" style="display: inline-block;">
          <span class="default-title">Back</span>
        </span>
      </button>
    </a>

    <a
      ng-hide="id"
      href="#/tab/dash">
      <button class="button back-button hide buttons  button-clear header-item">
        <i class="icon ion-ios-arrow-back"></i>
        <span class="back-text" style="display: inline-block;">
          <span class="default-title">Back</span>
        </span>
      </button>
    </a>

  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="list">

      <div ng-repeat-start="group in list_food_groups" ng-show="false" ></div>

      <div class="item">
        <div class="row">
          <div class="col">
            <strong>{{group}}</strong>
          </div>
        </div>
      </div>

      <div
        ng-repeat-start="grocery in list | filter:{'food_group':group} | orderBy:'text'"
        ng-show="false">
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            {{grocery.text}}
          </div>
          <div class="col col-25">
            <span ng-repeat="amount in grocery.amounts">
              {{amount}} <br ng-hide="$last" />
            </span>
          </div>
        </div>
      </div>
      <div ng-repeat-end></div>

      <div ng-repeat-end></div>

    </div>
  </ion-content>
</ion-view>
