<ion-view view-title='{{list_name}}'>
  <ion-nav-buttons side="left">
    <button
      ng-click="goBack()"
      class="button back-button hide buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="display: inline-block;">
        <span class="default-title">Back</span>
      </span>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button
      ng-click="showGroceryListSettings(list_name)"
      class="button back-button hide buttons button-clear header-item">
      <i class="icon ion-gear-b"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <h3>This is your grocery list.</h3>
    <ul>
      <li><strong>Tap</strong> to check items on and off the list</li>
      <li><strong>Swipe right</strong> to remove items</li>
    </ul>
    <br />
    <div class="list">
      <div
        class="item grocery-group-header"
        ng-show="list_food_groups.length == 0">
        <div class="row">
          <div class="col">
            <strong>This list is empty.</strong>
          </div>
        </div>
      </div>
      <div ng-repeat-start="group in list_food_groups" ng-show="false" ></div>

      <div class="item grocery-group-header">
        <div class="row">
          <div class="col">
            <strong>{{group}}</strong>
          </div>
        </div>
      </div>

      <div
        ng-repeat-start="grocery in list | filter:{'food_group':group} | orderBy:'text'"
        ng-init="possible_removal=false"
        ng-show="false">
      </div>

      <div
        style="padding: 0;"
        ng-show="possible_removal"
        class="item">
        <button
          ng-click="possible_removal=false"
          style="width: 25%; margin: 0;"
          class="button button-calm">Cancel</button>
        <button
          ng-click="removeFromGroceryList(grocery.grocery_item.ingredient, grocery.grocery_item.recipe_id); possible_removal=false"
          style="width: 75%; margin: 0;"
          class="button button-assertive">Remove {{grocery.text}}</button>

          </div>

      <ion-checkbox
        ng-hide="possible_removal"
        ng-click="save()"
        on-swipe-right="possible_removal=true"
        on-swipe-right="showMoreInfo()"
        ng-model="grocery.grocery_item.picked_up">
          <span style="top: 50%; position: absolute; margin-top: -.75em;">
            {{grocery.text}}
          </span>

          <div style="float:right;">
            <span
              style="text-align:right;"
              ng-repeat="amount in grocery.amounts">
              {{amount}}
              <br ng-hide="$last" />
            </span>

          </div>
          <br style="clear:both;" />
      </ion-checkbox>
      <div ng-repeat-end></div>

      <div ng-repeat-end></div>

    </div>

    <div class='list'>
      <div
        class="item item-button-right item-icon-left"
        ng-repeat='list in groceryLists'>
        <i
          ng-click="showGroceryListSettings(list.name)"
          class="icon ion-gear-b"></i>
        {{list.name}}
        <button
          ng-hide="list_name == list.name"
          ng-click="use(list)"
          class="button button-balanced">Use this</button>

        <button
          ng-show="list_name == list.name"
          class="button button-stable"><i class=""></i> In Use</button>
      </div>
      <div class="item item-button-left">
          <input
            style="float:right;"
            ng-show="show_new"
            ng-model="listName" />

          <button
            ng-hide="show_new"
            ng-click="showNew()"
            class="button button-positive"><i class=""></i> New List</button>
          <button
            ng-show="show_new"
            ng-click="createNewGroceryList(listName)"
            class="button button-positive"><i class=""></i> Start</button>
          <br style="clear:both;" />
      </div>
    </div>
  </ion-content>
</ion-view>
