<ion-view view-title='How much?'>
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        Standard <strong>{{recipe.name}}</strong> recipe makes {{recipe.serving_size}} servings
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>How much would you like to make?</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        Servings
      </div>
      <div class="col">
        <i
          ng-click="decrementServings()"
          class="ion-ios-minus-outline"></i>
          <span> {{servings}} </span>
        <i
          ng-click="incrementServings()"
          class="ion-ios-plus-outline"></i>
      </div>
    </div>

    <div class="row">
      <div class="col">
        Recipe multiplier
      </div>
      <div class="col">
        <i
          ng-click="decrementMultiplier()"
          class="ion-ios-minus-outline"></i> 
          <span> {{multiplier}}x </span>
        <i
          ng-click="incrementMultiplier()"
          class="ion-ios-plus-outline"></i>
      </div>
    </div>

    <div class="row">
      <button class="button button-assertive" ng-click="cancel()">Cancel</button>
      &nbsp;
      <button class="button button-balanced" ng-click="saveServingSize()">OK</button>
    </div>
  </ion-content>
</ion-view>